.cardRecetas {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    align-items: center;
    background-color: aquamarine;

}

.imgReceta {
    width: 100%;
}